<footer class="navbar navbar-static-bottom">
  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <ul class="col-sm-3 col-md-3 list-unstyled">
      <li class="title">
        {{ site.translations.[page.language].navigation }}
      </li>
      <li><a href="{{ page.base_url }}/{{ page.language }}/#home">
        {{ site.translations.[page.language].home }}
      </a></li>
      <li><a href="{{ page.base_url }}/{{ page.language }}/#sections">
        {{ site.translations.[page.language].priorities }}
      </a></li>
      <li><a href="{{ page.base_url }}/{{ page.language }}/#contact">
        {{ site.translations.[page.language].contact }}
      </a></li>
      <li><a href="{{ page.base_url }}/{{ page.language }}/blog">
        {{ site.translations.[page.language].blog }}
      </a></li>
    </ul>
    <ul class="col-sm-3 col-md-3 list-unstyled">
      <li class="title">
        {{ site.translations.[page.language].resources }}
      </li>
      <li><a href="{{ page.base_url }}/{{ page.language }}/legal#imprint">
        {{ site.translations.[page.language].imprint }}
      </a></li>
      <li><a href="{{ page.base_url }}/{{ page.language }}/legal#privacy">
        {{ site.translations.[page.language].privacy }}
      </a></li>
    </ul>
    <ul class="col-sm-3 col-md-3 list-unstyled">
      <li class="title">Partner</li>
      <li><a href="#">Comming soon...</a></li>
    </ul>
    <ul class="col-sm-3 col-md-3 list-unstyled">
      <li class="title">Social</li>
      <li><a href="#">Comming soon...</a></li>
    </ul>
  </div>
</footer>
