<footer class="navbar navbar-static-bottom">
  <div class="col-md-8 col-md-offset-2">
    <ul class="col-md-3 list-unstyled">
      <li class="title">Navigation</li>
      <li><a href="/{{ language }}/#home">Home</a></li>
      <li><a href="/{{ language }}/#sections">Schwerpunkte</a></li>
      <li><a href="/{{ language }}/#contact">Kontakt</a></li>
    </ul>
    <ul class="col-md-3 list-unstyled">
      <li class="title">Resourcen</li>
      <li><a href="/{{ language }}/legal#imprint">Impressum</a></li>
      <li><a href="/{{ language }}/legal#privacy">Datenschutz</a></li>
    </ul>
    <ul class="col-md-3 list-unstyled">
      <li class="title">Partner</li>
      <li><a href="#">Longvity® Center</a></li>
      <li><a href="#">Longvity® Beauty</a></li>
    </ul>
    <ul class="col-md-3 list-unstyled">
      <li class="title">Social</li>
      <li><a href="#">Comming soon...</a></li>
    </ul>
  </div>
</footer>
