<nav class="navbar navbar-default" role="navigation">
  <ul class="navbar-nav nav">
    {% if page.language == 'en' %}
    <li class="active"><a href="{{ page.base_url }}/en{{ page.fragment }}">EN</a></li>
    {% else %}
    <li><a href="{{ page.base_url }}/en{{ page.fragment }}">EN</a></li>
    {% endif %}
    {% if page.language == 'de' %}
    <li class="active"><a href="{{ page.base_url }}/de{{ page.fragment }}">DE</a></li>
    {% else %}
    <li><a href="{{ page.base_url }}/de{{ page.fragment }}">DE</a></li>
    {% endif %}
  </ul>
  <ul class="navbar-nav navbar-right nav">
    {% if !page.fragment %}
    <li><a href="{{ page.base_url }}/{{ page.language }}">Home</a></li>
    {% else %}
    <li class="active"><a href="{{ page.base_url }}/{{ page.language }}">Home</a></li>
    {% endif %}
    {% if page.fragment == blog %}
    <li><a href="{{ page.base_url }}/{{ page.language }}/blog">Blog</a></li>
    {% else %}
    <li class="active"><a href="{{ page.base_url }}/{{ page.language }}/blog">Blog</a></li>
    {% endif %}
  </ul>
</nav>
