#map {
    height: 500px;
    margin-bottom: 60px;
}

.pull-down {
    margin-top: 120px;
}

.fill {
    padding-bottom: 80px;
}

.text-justify {
    text-align: justify;
}

nav.navbar {
    background-color: #FFF;
    border: none;
}

footer.navbar {
    margin-bottom: 0;
    background-color: #888;
    border: none;
}

footer.navbar a {
    color: #CCC;
}

footer.navbar a:hover {
    color: #FFF;
}
