#map {
    height: 500px;
    margin-bottom: 60px;
}

.pull-down {
    margin-top: 120px;
}

.fill {
    padding-bottom: 80px;
}

.text-justify {
    text-align: justify;
}

.navbar {
    background-color: #FFF;
}
