---
layout: default
base_url: ../..
fragment: /blog
---
<div class="row">
  <div class="text-center">
    <h2>Longvity® Center Blog</h2>
    <h4>Sty informed about latest tricks!</h4>
  </div>
</div>
{% for post in site.categories.[page.language] %}
  <div class="row">
    <article class="col-md-8 col-md-offset-2">
      <h5>{{ post.title }}</h5>
      <h6>{{ post.date | date_to_long_string }}</h6>
      <div class="text-justify">
        {{ post.content }}
      </div>
    </article>
  </div>
{% endfor %}
<div style="height: 700px;"></div>
